/*Schrijf hier jouw CSS*/
body {
    display: flex; /*flex container voor nav en div (col-1 en col-2)*/
    flex-direction: row;
    min-height: 100vh;
}

.col-1 { /*nav*/
    flex-basis: 20vw; /*in row container, dus breedte, dezelfde waarde als bij opdracht 2*/
    flex-shrink: 0;
    flex-grow: 0;
}

.col-2 { /*div*/
    display: flex; /*flex container voor header, main en footer*/
    flex-direction: column;
    flex-basis: auto; /*in row container dus breedte, neemt de rest van de ruimte in*/
    flex-shrink: 1;
    flex-grow: 1;
}

header {
    flex-basis: 150px; /*in column container dus hoogte, dezelfde waarde als bij opdracht 2*/
    flex-shrink: 0;
    flex-grow: 0;
}

main {
    display: flex; /*flex container voor article en aside*/
    flex-direction: row;
    flex-basis: auto; /*in column container dus hoogte, neemt de overgebleven ruimte in*/
    flex-shrink: 1;
    flex-grow: 1;
}

article {
    flex-basis: auto; /*in row-container dus breedte, neemt de overgebleven ruimte in qua breedte*/
    flex-shrink: 1;
    flex-grow: 1;
}

aside {
    flex-basis: 20vw; /*in row container dus breedte, en deze waarde leek me passend (dezelfde als nav)*/
    flex-shrink: 0;
    flex-grow: 0;
}

footer {
    flex-basis: 150px; /*in column container dus hoogte, dezelfde waarde als bij opdracht 2*/
}
