/*Schrijf hier jouw CSS*/
body {
    display: flex;
    /* Zodra ik bovenstaande heb aangegeven, verandert de lay-out al meteen naar de nav links en de andere elementen daarnaast, onder elkaar. Ik begrijp niet waarom dit gebeurt...*/
    flex-direction: row; /*bevat twee items, nav en div*/
    min-height: 100vh;
}

.col-1 { /*nav*/
    flex-basis: 20vw; /*in row container dus breedte, en dit leek me een passende waarde*/
    flex-shrink: 0;
    flex-grow: 0;
}

.col-2 { /*div*/
    display: flex; /*is flex container voor header, main en footer*/
    flex-direction: column;
    flex-basis: auto; /*in row container dus breedte, neemt de rest van de ruimte in*/
    flex-shrink: 1;
    flex-grow: 1;
}

header {
    flex-basis: 150px; /*in column container dus hoogte, en dit leek me een passende waarde*/
    flex-shrink: 0;
    flex-grow: 0;
}

main {
    display: flex; /*is flex container voor article*/
    flex-direction: row; /*maar bevat slechts 1 item, article*/
    flex-basis: auto; /*in column container dus hoogte, neemt de overgebleven ruimte in*/
    flex-shrink: 1;
    flex-grow: 1;
}

article {
    flex-basis: auto; /*in row-container dus breedte, neemt de overgebleven ruimte in*/
    flex-shrink: 1;
    flex-grow: 1;
}

footer {
    flex-basis: 150px; /*in column-container dus hoogte, en dit leek me een passende waarde*/
    flex-grow: 0;
    flex-shrink: 0;
}

