/*Schrijf hier jouw css*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #DC9E82;
    font-family: Calibri, sans-serif;
    color: #030027;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #030027;
    color: white;
    padding: 40px;
    flex-grow: 0;
    flex-shrink: 1;
}

.name-company {
    align-self: flex-start;
    font-weight: bold;
    text-transform: uppercase;
}

.links-list {
    display: flex;
    flex-direction:row;
    flex-basis: 400px;
    justify-content: flex-end;
    gap: 40px;
    list-style-type: none;
}

.summary {
    padding: 40px;
}

.article-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

article {
    display: flex;
    flex-direction: column;
    background-color: #C16E70;
    border-radius: 4px;
    min-height: 350px;
    flex-basis: 280px;
    flex-grow: 0;
    flex-shrink: 1;
    justify-content: flex-end;
    padding: 20px;
    margin: 20px;
}