/*Schrijf hier jouw CSS*/
body {
    display: flex; /*flex container voor nav (div class outer-col-1) en div class outer-col-1*/
    flex-direction: row;
    min-height: 100vh;
}

.outer-col-1 { /*nav*/
    flex-basis: 20vw; /*row container dus breedte, dezelfde waarde als bij opdracht 2 en 3*/
    flex-grow: 0;
    flex-shrink: 0;
}

.outer-col-2 { /*bevat alle andere elementen (dus behalve nav)*/
    display: flex; /*flex container voor header en div class inner-row*/
    flex-direction: column;
    flex-basis: auto; /*row container dus breedte, neemt de overgebleven ruimte in naast nav*/
    flex-grow: 1;
    flex-shrink: 1
}

header {
    flex-basis: 150px; /*in column container dus hoogte, dezelfde waarde als bij opdracht 2 en 3*/
    flex-shrink: 0;
    flex-grow: 0;
}

.inner-row {
    display: flex; /*flex container voor div class inner-col en aside*/
    flex-direction: row;
    flex-basis: auto; /*in column container dus hoogte, neemt overgebleven ruimte in onder header*/
    flex-grow: 1;
    flex-shrink: 1;
}

aside {
    flex-basis: 20vw; /*in row container dus breedte, dezelfde waarde als in opdracht 3*/
    flex-grow: 0;
    flex-shrink: 0;
}

.inner-col {
    display: flex; /*flex container voor article en footer*/
    flex-direction: column;
    flex-basis: auto; /*in row container dus breedte, neemt overgebleven ruimte in tussen aside en nav*/
    flex-grow: 1;
    flex-shrink: 1;
}

article {
    flex-basis: auto; /*in column container, dus hoogte, en neemt de ruimte in die over is boven footer en uiteindelijk tussen alle andere elementen*/
    flex-grow: 1;
    flex-shrink: 1;
}

footer {
    flex-basis: 150px; /*in column container dus hoogte, waarde idem opdracht 2 en 3*/
    flex-grow: 0;
    flex-shrink: 0;
}